.c-project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  line-height: 1;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}
