.c-global-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}


.c-global-header__intro {
  text-align: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.c-global-header__intro-text {
  flex-grow: 0;
  width: auto;
}