.c-project-tagline {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  line-height: 1;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}
