code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: $code-text-color;
  background-color: $code-bg-color;
  border-radius: 0.3rem;
}

pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: $code-text-color;
  word-wrap: normal;
  background-color: $code-bg-color;
  border: solid 1px $border-color;
  border-radius: 0.3rem;

  > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: $code-text-color;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }
}

pre code,
pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;

  &:before,
  &:after {
    content: normal;
  }
}